#
# Environment variables for running atlas locally with Docker Compose
#

JVM_DEBUG=false

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/lerna?loginTimeout=30&connectTimeout=30&socketTimeout=30&stringtype=unspecified
SPRING_DATASOURCE_USERNAME=devuser
SPRING_DATASOURCE_PASSWORD=devpass

SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379

APP_CONFIG_MPCSERVER_HOST=mpc
APP_CONFIG_MPCSERVER_PORT=31337
APP_CONFIG_FL_SCALINGFACTOR=100000
APP_CONFIG_ADMIN_TOKEN=change-me
APP_CONFIG_MPC_KEYSTORE=./cert.jks
APP_CONFIG_MPC_KEYSTOREPASSWORD=change-me
APP_CONFIG_MPC_TRUSTSTORE=./cert.jks
APP_CONFIG_MPC_TRUSTSTOREPASSWORD=change-me

# Postgres environment variables
POSTGRES_DB=lerna
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass
